{%- liquid
  if settings.reviews_app == "stamped" or settings.reviews_app == "ali" or settings.reviews_app == "yotpo"
    assign custom_widget = settings.reviews_app
  elsif settings.reviews_app == "rapid"
    assign rating = product.metafields.rapid_reviews.counts.value.r.rating.avg
    assign reviews_count = product.metafields.rapid_reviews.counts.value.r.counts.core.total
  elsif settings.reviews_app == "loox"
    assign rating = product.metafields.loox.avg_rating
    assign reviews_count = product.metafields.loox.num_reviews
  elsif settings.reviews_app == "judgeme"
    assign rating = product.metafields.reviews.rating.value.rating | plus: 0
    assign reviews_count = product.metafields.reviews.rating_count | plus: 0
  elsif settings.reviews_app == "air"
    assign rating = product.metafields.air_reviews_product.review_avg
    assign reviews_count = product.metafields.air_reviews_product.review_count
  else
    if product.metafields.reviews.rating.value != blank
      assign rating = product.metafields.reviews.rating.value.rating
      assign reviews_count = product.metafields.reviews.rating_count 
    endif
  endif
-%}

{%- if custom_widget != blank or rating != 0 -%}
  <span class="{{ class }}">
    {%- if custom_widget == blank -%}
      {%- unless rating == 0 or rating == '0' or rating == blank -%}
        <span class="visually-hidden">{{ 'general.accessibility_labels.rating_info' | t: rating_value: rating, rating_max: 5 }}</span>
        <span class="rating-icon" aria-hidden="true">
          {%- render 'theme-symbols', icon: 'star' -%}
        </span>
        <span class="rating-text" aria-hidden="true">
          {{ rating | round: 1 | remove: '.0' }} / {{ 5 }}
        </span>
      {%- endunless- %}
    {%- else -%}
      {%- if custom_widget == "stamped" -%}
        <span 
          class="stamped-product-reviews-badge" 
          data-id="{{ product.id }}"
          data-product-sku="{{ product.handle }}" 
          data-product-type="{{ product.type }}" 
          data-product-title="{{ product.title }}" 
          style="display:block;">
        </span>
      {%- elsif custom_widget == "ali" -%}
        <div product-id="{{ product.id }}" product-handle="{{ product.handle }}" class="alireviews-review-star-rating"></div>
      {%- elsif custom_widget == "air" -%}
        <div class="AirReviews-Widget AirReviews-Widget--Stars"></div>
      {%- elsif custom_widget == "yotpo" -%}
        <div class="yotpo bottomLine" data-product-id="{{ product.id }}"></div>
      {%- endif -%}
    {%- endif -%}
  </span>
{%- endif %}