<form action="{{ routes.search_url }}" method="get" class="search-form" role="search" autocomplete="off" 
	{% if label != blank %} style="display:flex" {% endif %}
>

  <input type="search" name="q" value="{{ search.terms | escape }}" 
  	placeholder="{{ 'search.form.placeholder' | t }}" class="input-group-field" 
  	aria-label="{{ 'search.form.placeholder' | t }}" autocomplete="off"
  	data-js-search-input
  >

  {%- if label == blank -%}
	  <button type="submit" aria-label="{{ 'search.form.submit' | t }}" tabindex="-1">
	    <span class="icon icon-search" aria-hidden="true">{% render 'theme-symbols', icon: 'search' %}</span>
	  </button>
	{%- else -%}
		<button type="submit" class="button button--solid button--align" style="flex-shrink:0">{{ label }}</button>
	{%- endif -%}

</form>