<div class="shopify-section section-w-margin section-w-mobile-padding" id="section-reset-password">

  <div class="section-header five-tenths lap--full-width push-left-one-tenth lap--push-left-none">
    <h1 class="section-header__title h1">{{ 'customers.password_reset_page.title' | t }}</h1>
    <span class="h4" style="margin-bottom:2em">{{ 'customers.password_reset_page.subtitle' | t: email: email }}</span>
  </div>

  <div class="grid">

    <div class="six-tenths lap--full-width push-left-one-tenth lap--push-left-none">

      {%- form 'reset_customer_password', class: 'simple-grid' -%}

    		<div class="simple-grid-item one-whole">{%- render 'form-errors', form: form -%}</div>

        <div class="simple-grid-item one-whole">
          <label for="ResetPassword" class="text-size--small">{{ 'customers.password_reset_page.password_label' | t }}</label>
          <input type="password" value="" name="customer[password]" id="ResetPassword" class="input-full{% if form.errors contains 'password' %} error{% endif %}">
        </div>
        
        <div class="simple-grid-item one-whole">
          <label for="PasswordConfirmation" class="text-size--small">{{ 'customers.password_reset_page.password_confirm_label' | t }}</label>
          <input type="password" value="" name="customer[password_confirmation]" id="PasswordConfirmation" class="input-full{% if form.errors contains 'password_confirmation' %} error{% endif %}">
        </div>

        <div class="simple-grid-item one-whole">
          <input type="submit" class="button button--solid button--fit" value="{{ 'customers.password_reset_page.submit' | t }}">
        </div>

      {%- endform -%}

    </div>

  </div>

</div>