<!doctype html>
  {%- liquid
  assign direction = 'ltr'
  assign rtl_iso_codes = 'ar,he,ur,fa,pa,sd,ku' | split: ','
  if rtl_iso_codes contains request.locale.iso_code
    assign direction = 'rtl'
  endif
  -%}
  <html class="no-js" lang="{{ request.locale.iso_code }}" dir="{{ direction }}">
<head>

  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge"> 
  <meta name="viewport" content="width=device-width, initial-scale=1.0, height=device-height, minimum-scale=1.0">

  {%- if settings.favicon -%}
    <link rel="shortcut icon" href="{{ settings.favicon | image_url: width: 32, height: 32 }}" type="image/png" />
  {%- endif -%}

	<title>{{ shop.name | escape }}</title>

  {%- if page_description -%}
    <meta name="description" content="{{ page_description | escape }}">
  {%- endif -%}

	<link rel="canonical" href="{{ canonical_url }}">

  <link rel="preconnect" href="https://cdn.shopify.com">
  {%- unless settings.headings_font.system? and settings.body_font.system? -%}
    <link rel="preconnect" href="https://fonts.shopifycdn.com" crossorigin>
  {%- endunless -%}

  {%- render 'head-variables' -%}
  {{ 'theme.css' | asset_url | stylesheet_tag }}

	{{ content_for_header }}
  
  <script>
    function debounce(fn, wait) {
      let t;
      return (...args) => {
        clearTimeout(t);
        t = setTimeout(() => fn.apply(this, args), wait);
      };
    }
    window.KEYCODES = {
      TAB: 9,
      ESC: 27,
      DOWN: 40,
      RIGHT: 39,
      UP: 38,
      LEFT: 37,
      RETURN: 13
    };
  </script>

  <noscript>
    {{ 'theme-noscript.css' | asset_url | stylesheet_tag }}
  </noscript>

</head>

<body class="template-password no-touchevents image-reveal--{{ settings.image_reveal }}">

  <script>
    if ( 'ontouchstart' in window || window.DocumentTouch && document instanceof DocumentTouch ) {
      document.querySelector('body').classList.remove('no-touchevents');
      document.querySelector('body').classList.add('touchevents');
    } 
  </script>

  <a href="#main" class="visually-hidden skip-to-content" tabindex="1">{{ 'general.accessibility_labels.skip_to_content' | t }}</a>

	<div class="password page-content">
		<div class="password-content-wrapper">
			{%- section 'main-password-header' -%}
			<div class="password-content">{{ content_for_layout }}</div>
		</div>

		<div class="password-footer text-size--smaller">
			{%- capture shopify -%}
				<a class="shopify-link" href="//shopify.com" rel="nofollow" target="_blank" title="Create your own online store with Shopify" style="border-bottom: 1px solid;">
					<span class="shopify-name">Shopify</span>
				</a>
			{%- endcapture -%}
			{{ 'general.password_page.powered_by_shopify_html' | t: shopify: shopify }}
		</div>

	</div>	
  
  <script>

    window.prlxElementsPusher = function(element) {
      let elements = element.querySelectorAll('[data-scroll-speed]');
      if ( element.classList.contains('mount-parallax-w-padding' ) ) {
        let i = elements.length-1;
        while(i >= 0){
          if ( Number(elements[i].getAttribute('data-scroll-speed')) < 0 ) {
            elements[i].setAttribute('data-scroll-speed', '-.1');
            break;
          }
          i--;
        }
      }
      elements.forEach(function(element){
        window.prlxElements.push({
          element: element,
          factor: Number(element.getAttribute('data-scroll-speed')),
          parent: document.getElementById(element.getAttribute('data-scroll-parent')),
          mirror: element.hasAttribute('data-scroll-mirror'),
          resistance: element.hasAttribute('data-scroll-resistance')
        });
      });
    }

    window.prlxElements = [];
    window.prlxRaf = true;
    document.querySelectorAll('.mount-parallax').forEach(function(element){
      window.prlxElementsPusher(element);
    });

    window.addEventListener('scroll', function(){
      if ( window.prlxRaf ) {
        window.prlxRaf = false;
        requestAnimationFrame(window.prlxAnimation.bind(this));
      }
    }, {passive: true});

    window.prlxAnimation = function(){
      const windowHeight = document.documentElement.clientHeight;
      const windowWidth = document.documentElement.clientWidth;
      window.prlxElements.forEach(function(item, i){
        let elementY = item.element.getBoundingClientRect().y;
        if ( item.resistance ) {
          let parentY = item.parent.getBoundingClientRect().y - windowHeight;
          if ( parentY < 0 && Math.abs(parentY) < (item.parent.offsetHeight + windowHeight) ) {
            let prlx = Math.abs(parentY) * Math.min(windowHeight, windowWidth) / (item.parent.offsetHeight + windowHeight);
            item.element.style.transform = 'translateY(' + (prlx) + 'px)';
          }
        } else {
          if ( elementY < windowHeight * 2 && elementY > (item.element.offsetHeight + windowHeight)*-1 ) {
            let prlx = 0;
            if ( item.parent ) {
              prlx = (item.parent.getBoundingClientRect().y - (windowHeight - item.parent.offsetHeight)/2) * item.factor;
              if ( windowWidth < 600 ) {
                prlx /= 2;
              }
              if ( item.mirror && prlx < 0 ) {
                prlx = 0;
              }
            } else {
              prlx = Math.round(((window.scrollY + windowHeight) - (item.element.offsetTop))*item.factor / -2);
              if ( item.padding ) {
                if ( prlx >= 0 ) {
                  item.element.parentElement.style.paddingBottom = prlx + 'px';
                } else {
                  item.element.parentElement.style.paddingBottom = '0px';
                }
              }
            }
            if ( Math.abs(prlx) < windowHeight ) {
              item.element.style.transform = 'translateY(' + (prlx) + 'px)';
            }
          }
        }
      });
      this.prlxRaf = true;
    }

    window.prlxAnimation();

    window.addEventListener('resize', function(){
      window.prlxAnimation();
    });

    KROWN = {
      settings: {
        shop_money_format: '{{ shop.money_format }}',
        cart_action: "{{ settings.cart_action }}",
        routes: {
          cart_url: "{{ routes.cart_url }}",
          cart_add_url: "{{ routes.cart_add_url }}",
          cart_change_url: "{{ routes.cart_change_url }}",
          predictive_search_url: "{{ routes.predictive_search_url }}"
        },
        locales: {
          next: `{{ 'general.accessibility_labels.next' | t }}`,
          prev: `{{ 'general.accessibility_labels.previous' | t }}`
        },
        symbols: {
          arrow: `{%- render 'theme-symbols', icon: 'arrow-right' -%}`,
          zoom_out: `{%- render 'theme-symbols', icon: 'zoom-out' -%}`,
          star: `{%- render 'theme-symbols', icon: 'star' -%}`,
          plus: `{%- render 'theme-symbols', icon: 'plus' -%}`,
          toggle_pack: `<svg aria-hidden="true" focusable="false" role="presentation" class="symbol symbol--minus" width="17" height="17" viewBox="0 0 17 17" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M1.48511 7.00293H15.4852V9.13403H1.48511V7.00293Z" fill="#111111"/></svg><svg aria-hidden="true" focusable="false" role="presentation" class="symbol symbol--plus" width="17" height="18" viewBox="0 0 17 18" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M1.48517 7.48145H15.4852V9.61255H1.48517V7.48145Z" fill="#111111"/><path d="M9.48517 1.08789V16.0056H7.48517V1.08789H9.48517Z" fill="#111111"/></svg>`
        },
        predictive_search_enabled: "false"
      }
    };
    
  </script>

  <script src="{{ 'theme.js' | asset_url }}" defer></script>
  <script src="{{ 'component-css-slider.js' | asset_url }}" defer></script>
 
  {%- if request.design_mode -%}
    <script src="{{ 'theme-editor.js' | asset_url }}" defer></script>
    <script src="{{ 'component-lightbox.js' | asset_url }}" defer></script>
    <script src="{{ 'component-facets.js' | asset_url }}" defer></script>
    <script src="{{ 'component-product-slider.js' | asset_url }}" defer></script>
    <script src="{{ 'component-image-hotspots.js' | asset_url }}" defer></script>
    <script src="{{ 'component-before-after.js' | asset_url }}" defer></script>
    <script src="{{ 'component-scrolling-text.js' | asset_url }}" defer></script>
    <script src="{{ 'component-toggle.js' | asset_url }}" defer></script>
    <script src="{{ 'component-video-background.js' | asset_url }}" defer></script>
    <script src="{{ 'component-video.js' | asset_url }}" defer></script>
    <script src="{{ 'section-announcement-bar.js' | asset_url }}" defer></script>
  {%- endif -%}

</body>

</html>