{%- if section.settings.title != blank -%}
  <div class="section-header grid-item push-left-one-tenth lap--push-left-none">
    <{{ section.settings.seo_h_tag }} class="section-header__title h4">{{ section.settings.title | escape }}</{{ section.settings.seo_h_tag }}>
  </div>
{%- endif -%}

{%- if section.blocks.size > 0 -%}
  {{ "section-image-gallery.css" | asset_url | stylesheet_tag }}
  <div class="image-gallery ten-tenths lap--full-width push-left-one-tenth lap--push-left-none">

    {%- for block in section.blocks -%}

      <div class="gallery-item" {{ block.shopify_attributes }}>

        {%- if block.settings.link != blank -%}<a href="{{ block.settings.link }}" title="{{ block.settings.title | escape }}">{%- endif -%}

          <div class="gallery-item__caption">
            {%- unless block.settings.image == blank -%}
              {%- render 'lazy-image', image: block.settings.image, alt: block.settings.title, sizes: "(max-width: 768px) 100vw, 33vw", preload: true -%}
            {%- else -%}
              <span class="onboarding-svg onboarding-background">
                {{ 'image' | placeholder_svg_tag }}
              </span>
            {%- endunless -%}
          </div>

          {%- unless block.settings.title == blank -%}
            <strong class="gallery-item__title">{{ block.settings.title | escape }}</strong>
          {%- endunless -%}

          {%- unless block.settings.caption == blank -%}
            <div class="gallery-item__caption text-size--smaller rte">{{ block.settings.caption }}</div>
          {%- endunless -%}

        {%- if block.settings.link != blank -%}</a>{%- endif -%}

      </div>

    {%- endfor -%}

  </div>

{%- endif -%}

{% schema %}
  {
    "name": "t:sections.gallery.name",
    "class": "section-w-margin section-w-mobile-padding",
  	"settings": [
      {
        "type": "text",
        "id": "title",
        "label": "t:sections.featured-collection.settings.title.label",
        "default": "Image gallery"
      },
      {
        "type": "header",
        "content": "t:sections.refactor_words.seo.name"
      },
      {
        "type": "select",
        "id": "seo_h_tag",
        "label": "t:sections.refactor_words.seo.label",
        "info": "t:sections.refactor_words.seo.info",
        "options": [
          {
            "value": "h1",
            "label": "H1"
          },
          {
            "value": "h2",
            "label": "H2"
          },
          {
            "value": "h3",
            "label": "H3"
          },
          {
            "value": "h4",
            "label": "H4"
          },
          {
            "value": "span",
            "label": "span"
          }
        ],
        "default": "h2"
      }
    ],
    "blocks": [
      {
        "type": "image",
        "name": "Image",
        "settings": [
          {
            "id": "image",
            "type": "image_picker",
            "label": "t:sections.gallery.blocks.image.settings.image.label"
          },
          {
            "type": "text",
            "id": "title",
            "label": "t:sections.featured-collection.settings.title.label",
            "default": "Image"
          },
          {
            "type": "richtext",
            "id": "caption",
            "label": "t:sections.gallery.blocks.image.settings.caption.label",
            "default": "<p>Write some details about this image.</p>"
          },
          {
            "type": "url",
            "id": "link",
            "label": "t:sections.image-with-text.blocks.image.settings.url.label"
          }
        ]
      }
    ],
    "presets": [{
      "name": "t:sections.gallery.name",
      "blocks": [
        {
          "type": "image"
        },
        {
          "type": "image"
        },
        {
          "type": "image"
        },
        {
          "type": "image"
        }
      ]
    }],
    "disabled_on": {
      "groups": ["header"]
    }
  }
{% endschema %}